<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/5215b35b-97ce-4b30-a6bd-1335b55a0d6e/resourceGroups/weatherForecastRG/providers/Microsoft.ContainerRegistry/registries/weatherForecastCR</ResourceId>
    <ResourceName>weatherForecastCR</ResourceName>
    <ResourceGroup>weatherForecastRG</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://weatherforecastcr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>635c3046-1494-4969-9e1a-d99329e7f299</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>